<footer>
    <a href="/" class="logo" style="color: white; margin-top: 50px;
    margin-left: 12.5%;">LOGO</a>
    <div class="footLinks">
        <div>
            <p>Acerca Nuestro</p>
            <p>Soporte</p>
            <p>Faq</p>
        </div>
        <div>
            <p>+54 9 11 1111-2222</p>
            <p>Whatsapp</p>
            <p>Instagram</p>
        </div>
    </div>

</footer>