<nav>
    <a href="/" class="logo"><img src="/images/powerup-store.png" alt="PowerUp Store" class="logoImg"></a>
    <div>
        <form action="" class="searchBar glass">
            <img src="/svg/search.svg" alt="Lupa">
            <input type="text">
        </form>
        <a href="/product/cart"><img src="/svg/cart.svg" alt="Carrito" class="cart"></a>
        <a href="/users/login"><button class="blackButton glass">Log in</button></a>
        <a href="/users/register"><button class="blackButton glass">Sign up</button></a>
    </div>
</nav>