<nav>
    <a href="/" class="logo">LOGO</a>
    <div>
        <form action="" class="searchBar">
            <img src="/svg/search.svg" alt="Lupa">
            <input type="text">
        </form>
        <a href="/product/cart"><img src="/svg/cart.svg" alt="Carrito" class="cart"></a>
        <a href="/loginform"><button class="blackButton">Log in</button></a>
        <a href="/register"><button class="blackButton">Sign up</button></a>
    </div>
</nav>