<nav>
    <p>LOGO</p>
    <div>
        <form action="" class="searchBar">
            <img src="" alt="Lupa">
            <input type="text">
        </form>
        <img src="" alt="Carrito">
        <p>Log in</p>
        <p>Sign up</p>
    </div>
</nav>