<nav>
    <p>LOGO</p>
    <div>
        <form action="" class="searchBar">
            <img src="./svg/search.svg" alt="Lupa">
            <input type="text">
        </form>
        <img src="./svg/cart.svg" alt="Carrito" class="cart">
        <button class="blackButton">Log in</button>
        <button class="blackButton">Sign up</button>
    </div>
</nav>