<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/indexStyles.css' />
</head>

<body>
  <%- include('./partials/nav') %>

    <h1>POTENCIA TU RENDIMIENTO</h1>

    <p class="bio">Bienvenido a <b>PowerUp Store</b>, el punto de encuentro para atletas que no se conforman. Aquí
      encontrarás una
      selección
      experta de suplementos, indumentaria técnica y nutrición funcional de las mejores marcas. Todo lo que necesitas
      para
      superar tus límites, en un solo lugar.</p>

    <h2>Explora nuestro catalogo de productos</h2>

    <section>

      <div class="Categories">

        <button>
          <p>Ver todo</p>
        </button>

        <button>
          <img src="" alt="a">
          <p>Indumentaria</p>
        </button>

        <button>
          <img src="" alt="e">
          <p>Suplementos</p>
        </button>

        <button>
          <img src="" alt="i">
          <p>Snacks</p>
        </button>

        <button>
          <img src="" alt="o">
          <p>Equipo</p>
        </button>

      </div>

      <div class="productGrid">

        <span>
          <img src="" alt="ejemplo de imagen">
          <p>nombre</p>
          <p>descripcion</p>
          <p>precio</p>
        </span>

        <span>
          <img src="" alt="ejemplo de imagen">
          <p>nombre</p>
          <p>descripcion</p>
          <p>precio</p>
        </span>

        <span>
          <img src="" alt="ejemplo de imagen">
          <p>nombre</p>
          <p>descripcion</p>
          <p>precio</p>
        </span>

        <span>
          <img src="" alt="ejemplo de imagen">
          <p>nombre</p>
          <p>descripcion</p>
          <p>precio</p>
        </span>

      </div>

    </section>

</body>

</html>