<!DOCTYPE html>
<html>

<head>
    <title>
        PRODUCTO TONTITO
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/productDetails.css' />
</head>

<body>
    <%- include('./partials/nav') %>

        <section class="principal">

            <div class="alternativePhotos">
                <img src="" alt="foto 1">
                <img src="" alt="foto 2">
                <img src="" alt="foto 3">
                <img src="" alt="foto 4">
                <img src="" alt="foto 5">
                <img src="" alt="foto 6">
                <img src="" alt="foto 7">
                <img src="" alt="foto 8">
                <img src="" alt="foto 9">
                <img src="" alt="foto 10">
            </div>

            <img src="" alt="Imagen principal" class="productImage">

            <div class="firstDetails">

                <span class="productNaming">
                    <h1>Producto</h1>
                    <h3>Descripcion cortita del producto</h3>
                </span>

                <h2>$000,99</h2>

                <span class="colours">
                    <img src="" alt="C1">
                    <img src="" alt="C2">
                    <img src="" alt="C3">
                    <img src="" alt="C4">
                </span>

                <p style="font-size: 18px; font-weight: 600;">Talles</p>

                <span class="sizes">
                    <img src="" alt="XS">
                    <img src="" alt="S">
                    <img src="" alt="M">
                    <img src="" alt="L">
                    <img src="" alt="XL">
                </span>

                <span class="buyOptions">
                    <button>Comprar</button>
                    <button>Agregar al carrito</button>
                </span>

            </div>

        </section>

</body>

</html>