<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/formStyles.css' />
</head>

<body>

    <main>
        <button class="goBack"><img src="./svg/leftarrow.svg" alt=""></button>
        <h1>
            <%= title %>
        </h1>
        <hr>
        <form action="" class="registerForm">
            <div>
                <span>
                    <label for="name">Nombres</label>
                    <input type="text" name="" id="name" required>
                    <label for="lname">Apellidos</label>
                    <input type="text" name="" id="lname" required>
                    <label for="phone">DNI</label>
                    <input type="number" name="" id="phone" required>
                </span>
                <span>
                    <label for="mail">Correo electronico</label>
                    <input type="email" name="" id="mail" required>
                    <label for="pass">Contraseña</label>
                    <input type="password" name="" id="pass" required>
                    <label for="pass">Confrimar Contraseña</label>
                    <input type="password" name="" id="pass" required>
                </span>
            </div>
            <button class="blackButton" style="padding: 10px; width: 150px; margin: 0 auto;">Acceder</button>
        </form>
        <hr style="margin: 50px 0px; border: 1px solid rgb(175, 175, 175);">
        <div class="logOptions">
            <button><img src="./svg/facebook.svg" alt=""></button>
            <button><img src="./svg/google.svg" alt=""></button>
            <button><img src="./svg/apple.svg" alt=""></button>
        </div>

    </main>

</body>

</html>