.principal {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    gap: 10px;
}

.alternativePhotos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alternativePhotos img {
    width: 60px;
    height: 60px;
    border: solid 1px gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.productImage {
    width: 535px;
    height: 664px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: lightgrey;
}

.firstDetails {
    margin-left: 40px;
    width: 410px;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    max-height: 670px;
    overflow-y: auto;
    justify-content: space-between;
}

.firstDetails::-webkit-scrollbar {
    width: 4px;
}

.firstDetails::-webkit-scrollbar-track {
    background: transparent;
}

.firstDetails::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
}

.firstDetails::-webkit-scrollbar-button {
    display: none;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h3 {
    color: gray;
    font-size: 15px;
}

h2 {
    font-size: 32px;
}

.productNaming {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.sizes div {
    min-width: min-content;
    height: min-content;
    padding: 10px 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    backdrop-filter: blur(12px) saturate(185%);
    -webkit-backdrop-filter: blur(12px) saturate(185%);
    background-color: rgba(17, 25, 40, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.buyOptions {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 15px;
    padding: 8px;
    margin-top: 40px;

}

.buyOptions button {
    background-color: black;
    border: 0px solid;
    border-radius: 15px;

    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 18px;
}

.option-box.selected {
    background-color: black;
    color: white;
    border-color: black;
}

.option-box {
    cursor: pointer;
}