body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 5px;
  height: 20px;
  font-size: 20px;
}

nav div {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.searchBar {
  background-color: lightgray;
  border: 0px solid;
  border-radius: 25px;
  padding: 3px;
}

.searchBar input {
  border: none;
  color: black;
  background-color: lightgray;
  border-radius: 25px;
}