<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/formStyles.css' />
    <link rel='stylesheet' href='/stylesheets/indexStyles.css' />
</head>

<body>

    <main>
        <a href="/"><button class="goBack acrilico"><img src="/svg/leftarrow.svg" alt=""></button></a>

        <h1>
            <%= title %>
        </h1>
        <hr>
        <form action="">
            <label for="mail">Correo electronico</label>
            <input type="email" name="" id="mail" class="acrilico" required>
            <label for="pass">Contraseña</label>
            <input type="password" name="" id="pass" class="acrilico" required>

            <span class="rememberBox">
                <input type="checkbox" name="" id="remember">
                <label for="remember">Recordarme</label>

            </span>

            <button class="blackButton acrilico" style="padding: 10px; width: 150px; margin: 0 auto;">Acceder</button>

            <a class="forgot">¿Olvidaste tu contraseña?</a>
        </form>
        <hr style="margin: 50px 0px; border: 1px solid rgb(175, 175, 175);">
        <div class="logOptions">
            <button class="acrilico"><img src="/svg/apple.svg" alt=""></button>
            <button class="acrilico"><img src="/svg/google.svg" alt=""></button>
            <button class="acrilico"><img src="/svg/facebook.svg" alt=""></button>
        </div>

    </main>

</body>

</html>